@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the financial setting form */
.container {
    margin: 2rem 4rem !important;
}

.form-group {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.form-group label {
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.shadow-lg {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input.form-control {
    border-radius: 5px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}
